{% extends 'base.html' %}

{% block content %}
            <p id="nav" class="no-print" style="width:100%; background-color:080; text-align:right;">
                <a href="{{ relroot }}_login">instructor login</a>
            </p>
<div style="height:0; width:0; margin-top:-5.8rem; margin-bottom:2rem;">
    <p style="font-size:3.8rem; color:rgba(127,127,127,0.15)">TeXercise</p>
</div>
<nav id="pagenav">
</nav>
<div id="content">
    <p>&nbsp;</p>
    <p>TeXercise is a free exercise-server to supply students with exercises including randomized values and an automatic review of the committed results. It was developed by Dirk Winkel and can be <a href="https://github.com/polarwinkel/">downloaded, cloned and forked on GitHub</a>.</p>
    <p>There is no further content here on the index-page.</p>
    <p>If this site is for you, you should have a link from your teacher: just go right there!</p>
</div>

<script src="{{ relroot }}_static/getFormJson.js"></script>
<script src="{{ relroot }}_static/polalert.js"></script>
{% endblock %}
