{% extends 'base.html' %}

{% block content %}
            <p id="nav" class="no-print" style="width:100%; background-color:080; text-align:right;">
                <a href="{{ relroot }}">home</a>
            </p>
<div style="height:0; width:0; margin-top:-5.8rem; margin-bottom:2rem;">
    <p style="font-size:3.8rem; color:rgba(127,127,127,0.15)">TeXercise</p>
</div>
<nav id="pagenav">
</nav>
<div id="content">
    <h1>TeXercise Login</h1>
    <p>If you have a link from your teacher you won't need to login here!</p>
    <form action='_login' method='POST'>
        <input type='text' name='username' id='username' placeholder='username'></input>
        <input type='password' name='password' id='password' placeholder='password'></input>
        <input type='submit' name='submit'></input>
    </form>

</div>

<script src="{{ relroot }}_static/getFormJson.js"></script>
<script src="{{ relroot }}_static/polalert.js"></script>
{% endblock %}
